@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #9932cc;
}

.pricing-txt {
    text-align: center;
    color: #fff;
    margin: 1rem auto;
}

.cards-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5rem 2rem 5rem;
    background-color: white;
    margin: 0 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    cursor: pointer;
}

.kit-name {
    background-color: skyblue;
    padding: 0.7rem;
    border-radius: 0 0 1rem 1rem;
}

.price {
    color: skyblue;
    font-weight: bold;
    margin: 1rem 0;
}

.offers {
    list-style: none;
    margin-bottom: 2rem;
}

.order-btn {
   
    color: rgb(0, 0, 0);
    border: 2px solid skyblue; 
    background-color: white; 
    padding: .7rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: .2s all linear;
}

.item:hover,
.order-btn {
    background-color: skyblue;
    border-color: white;
    color: white;
}

.item:hover {
    transform: scale(1.01);
    box-shadow: 0 1rem 1rem 0 #753a93;
}

.item:hover .price{
    color: black;
}