@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  z-index: 999;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(11, 18, 54);
  padding: 1rem 2em;
}
.main-nav .left-text {
  color: azure;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.3rem;
}
.right ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.right ul li {
  list-style: none;
}
.right ul li a {
  color: white;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
.services {
  position: relative;
  transition: all .5s;
}
.right .toggle {
  display: none;
  transition: all .5s linear;
}
.toggle.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1rem;
  width: 20rem;
  background-color: rgb(11, 18, 54);
}
.toggle li{
    margin: 2rem 0;
}
.toggle li a{
    font-size: 1rem;
}