@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cdb4db;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    border: 2px solid red;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: yellow; */
    background-color: #ffc8dd;
    min-height: 40vh;
    min-width: 40vw;
    width: auto;
    height: auto;
    border-radius: 40px;
}

.display-area {
    width: 200px;
    height: 50px;
    /* border: 2px solid blue; */
    padding: 1rem;
    text-align: center;
    margin-bottom: 20px;
    background-color: #003049;
    margin-top: 10px;
    width: 50%;
    border-radius: 10px;
    color: white;
}

.input-btns {
    border: 2px solid pink;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    flex-grow: 2;
    background-color: #f1faee;
    border-radius: 30px;
    margin-bottom: 20px;
}

.input-btns button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 1rem;
    border: none;
    background-color: #f77f00;
    margin: 7px;
}

.zero {
    width: 100px;
    border-radius: 50px;

}

.input-btns button:nth-child(-n+3) {
    background-color: #1d3557;
    color: white;
}

.input-btns button:nth-child(4n) {
    background-color: pink;
}