* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #032139;
}

.main {
    padding: 10rem;
    min-width: 600px;
}

.txts {
    font-size: 2.2rem;
    color: white;
    margin-bottom: 1.2rem;
}

.rantxt {
    color: #0aae74;
    text-decoration: underline;
}

.passarea {
    margin-bottom: 1.5rem;
    background-color: rgb(248, 244, 244);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.copy {
    color: #06c984;
    font-size: 1.5rem;
}

.copy:hover {
    cursor: pointer;
}

.btn {
    padding: 23px 15px;
    background-color: #06c984;
    border: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.btn:hover{
    cursor: pointer;
}
.btn i {
    margin-right: 12px;
}