@import url("https://fonts.googleapis.com/css2?family=Junge&family=Roboto+Slab:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Junge";
}
.junge-regular {
  font-family: "Junge", cursive;
  font-weight: 400;
  font-style: normal;
}
html,
body {
  height: 100%;
  width: 100%;
}

#mainDiv {
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1494376877685-d3d2559d4f82?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.center h1 {
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
#tagLine {
  font-size: 18px;
  margin: 15px 15px;
  letter-spacing: 5px;
}

button {
  height: 50px;
  width: 160px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4%;
  color: #fff;
  letter-spacing: 4px;
}
button:hover {
  background-color: #fff;
  cursor: pointer;
  color: black;
  transition: all ease-in-out 0.3s;
  border-color: black;
}
