* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccef;
}

.main {
  background-color: black;
  padding: 6rem;
  color: aliceblue;
}

.main h2 {
  font-size: 3rem;
  margin-bottom: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.input-con input {
  outline: none;
  padding: 10px;
  width: 90%;
  margin-bottom: 40px;
}

.btn {
  color: aliceblue;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 10px;
  background-color: rgb(60, 59, 60);
}

.upper {
  text-transform: uppercase;
}
.lower{
    text-transform: lowercase;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.output{
    background: #ccef;
    color: #000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 78px;
}