* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .main{
    background-color: blue;
} */

.display-area {
    background-color: red; 
    height: 100px;
   width: 100vw;
}

.input-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 2px solid red;
    margin: 0.1rem;
}