@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap");
:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  padding: 3rem;
}

.header-contexnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-height: 1280px;
  padding: 1rem;
  border: 2px solid red;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}
.logo-txt {
  font-size: 2rem;
  font-weight: bold;
}
.nav-link a {
  gap: 1.5rem;
  color: #718096;
  transform: color 1.2s;
  display: none;
}
.nav-link a:hover {
  color: var(--link-color);
}
.contact-btn {
  border: none;
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  transform: all 0.2s;
  font-weight: 600;
}
.contact-btn:hover {
  background-color: #5224f8;
}
