@import url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2');
html,body{
    height: 100vh;
    width: 100vw;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Netflix Font', sans-serif;
}

.nav-main-img {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/9134db96-10d6-4a64-a619-a21da22f8999/a449fabb-05e4-4c8a-b062-b0bec7d03085/IN-en-20240115-trifectadaily-perspective_alpha_website_large.jpg');
    background-position: center;
    background-size: cover;
    height: 700px;

    box-shadow: inset 0px 0px 270px 100px #161212;
}

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.nav-logo img {
    width: 148px;
   
    margin: 1rem;
    margin-left: 1.5rem;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang-sel {
    background-color: transparent;
    border: none;
    margin: auto 1rem auto auto;
    color: white;
    height: 32px;
}

.sign-in {
    background-color: #e50914;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    height: 32px;
    margin: auto 1rem;
}

/* main */

.main-content {
    
    margin: auto;
    margin-top: 10rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.main-heading {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.main-content p {
    font-size: 1.5rem;
    margin: 1rem auto;
}

.main-content h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem auto;
}

.input-area {
   
    display: flex;
    flex-direction: row;
    height: 56px;
   
}



form .entre-email {
    background-color: #161313;
    width: 370px;
    border: none;
    margin-right: 1rem;
    line-height: 56px;
    color: inherit;
    padding-left: 1.5rem;
    
}


.btn-getstart {
    background-color: red;
    height: 56px;
    width: 207px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-getstart button {
    border: none;
    padding: 0.7rem;
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
}



.area {
    border-top: 10px solid #232323;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 463px;
}

.area1 .left {
    margin-left: 1rem;
}

.tag-line {
    font-size: 3rem;
    font-weight: 900;
}

.tag-txt {
    font-size: 1.3rem;
    font-weight: 200;
}

.area1 .right {
  
    height: 450px;
    width: 640px;
 
}

.right img {
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 640px;
}

.tv {
    position: relative;
}

.tv img {
    position: relative;
    z-index: 1000;
    width: 100%;
}

.tv-video video {
    position: absolute;
    top: 20%;
    left: 12%;
    width: 75%;
}

.mobile img {
    /* border: 2px solid red; */
    height: 410px;

}

.mobile {
    position: relative;
}

.area2 .right {
    margin-right: 1rem;
}

.box {
    background-color: #000000;
    height: 80px;
    position: absolute;
    top: 75%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 6.8rem;
    border: 2px solid rgb(42, 41, 41);
    border-radius: 5px;
}

.mobo-txt2 {
    color: #0071EB;
}

.str-things img {
    height: 64px;
    /* width: 45px; */
    margin-left: 0.4rem;
}

.download-icon {
    background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif");
    background-position: center;
    background-size: cover;
    margin-right: 0.3rem;
    height: 48px;
    width: 48px;
}

.area3 .left {
    margin-left: 1rem;
}

.com-scr {
    position: relative;
}

.com-scr img {
    position: relative;
    z-index: 1000;
}

.com-video video {
    position: absolute;
    top: 7%;
    left: 18%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
}

.area5 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.que {
    width: 80%;

}

.frque {
    font-size: 2.5rem;
    text-align: center;
    
}



.que-list li {
    list-style: none;
 
    background-color: #2d2d2d; 
}

.que-box {
    padding: 1rem;
    cursor: pointer;
    
}

.que-list li .que-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.list-opt{
    margin-top: 1rem;
}

.icon {
    color: white;
    margin-right: 1rem;
}

.ans-box {
    background-color: inherit;
    display: none;
    padding: 1rem 0.4rem;
    border-top: 1px solid white;
    
}

.ans{
    background-color: white;
}


.area6 {
    border-top: 10px solid #232323;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.7);
  
    height: 463px;
}

.call-link {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}

.call {
    margin: 2.5rem 1rem;
}

.foot-links ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.foot-links ul li {
    margin: 1rem;
    list-style-type: none;
    width: 200px;

}

.foot-links ul li a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);

}

.foot-lang-sel {
    margin: 1rem;
    border: 2px solid red;
    height: auto;
    width: auto;
    padding: 1rem;
}

.location{
    margin-left:1rem ;
}